header{
	display: flex;
	justify-content: space-between;
}
.logo{
	height: 100px;
	width: 300px;
	margin-top: 30px;
	background: url("logo.png");
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 50px;
}
.task{
	font-size: 1.5em;
}
.warm-up{
	margin-top: 100px;
	padding-right: 50px;
	padding-left: 50px;
}
.news-content{
	margin-top: 100px;
	padding-right: 50px;
	padding-left: 50px;
}
.weather {
	font-size: 1.3em;
	font-family: inherit;
}
.info{
	font-family: italic;
	font-size: 1.3em;
}
.text{
	font-size: 1.5em;
}